body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 10px;
    padding: 10px;
    background-image: url(do.jpg);
}

.container {
    width: 500px;
    
    margin: 40px auto;
    background: rgb(242, 233, 233);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    color: #e60f0f;
    margin-bottom: 10px;
}

p {
    color: #312b2b;
    line-height: 1.6;
}
input, select, textarea {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 15px;
}

textarea {
    height: 100px;
}

